@import "tailwindcss";

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }

  body {
    background-color: #020617;
    color: #f8fafc;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

/* Custom Scrollbar for Industrial Tech aesthetic */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #090d16;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

.shadow-glow {
  box-shadow: 0 0 10px rgba(52, 211, 153, 0.4);
}
